module.exports.CONFIG = () => ({
  testSeed : '/src/test/seed/',
  aws: {
    region: 'ap-northeast-2',
    accessKeyId: '',
    secretAccessKey: '',
    s3: {
      bucket: '',
      url: 'https://s3.ap-northeast-2.amazonaws.com/',
      host: 's3.ap-northeast-2.amazonaws.com',
      uploadRoot: 'upload',
    },
    s3_private: {
      bucket: '',
      url: 'https://s3.ap-northeast-2.amazonaws.com/',
      host: 's3.ap-northeast-2.amazonaws.com',
      uploadRoot: 'upload',
    },
  },
});
